.App {
  text-align: center;
  flex-wrap: nowrap;
  height:900px;
  background-color:rgb(0, 128, 117);
  display: flex;
  flex-direction: column;

 
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Days-Number{

right: 0px;
border-radius: 20px;
width: 350px;
padding: 40px;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
top:120px;
font-size: 50px;
 
  
}
.date1{
width: 35px;
padding: 40px;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
border-radius: 20px;
font-size: 50px;
 
left:400px;
bottom:500px;
}
.date2{
  width: 35px;
  padding: 40px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
  font-size: 50px;
  
  right: 400px;
  bottom:500px;
  }
  
  



  
  
    
    
    .PersonCount_Card{
      border-radius: 20px;
     width:2%;
    
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 
    
     
    font-size: 50px;
   
   
    }

    .Rooms_Guest{
      display: flex;
      flex-direction: column;
      
      border-radius: 20px;
     width:80%;
     margin-left: 160px;
     
     align-items: center;
     
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
     
    background-color: rgba(53, 83, 83, 0.897);
    font-size: 10px;
   gap: 10px;
   
    }
    .addonContainer{
     
      
      padding: 15px;
     display:flex;
    gap:10px;
     flex-direction: column;
    }
   
    .dropdown{
      border-radius: 20px;
      width: 350px;
      padding: 40px;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      
      font-size: 50px;
       }
       
     .Rooms_Addon{

display: flex;
background-color: rgb(124, 38, 38);
justify-content: center;

flex-direction: column;


     }
     .Addon_Count{
      display: flex;
      justify-content: space-between;
      padding: 40px;
flex-direction: row;
     }
     .btn_Plus{
      padding: 40px;
      
      bottom: 0;
      left: 330px;;
     }
     .btn_Minus {
      padding: 40px;
     
      bottom: 0;
      right:330px;
     }
     .roomCards {
     
      width: 80%;
      padding: 40px;
      box-shadow: rgb(0, 44, 90) 0px 20px 30px -10px;
      
      font-size: 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color:rgb(0, 128, 117);
      gap:50px
     }
     